In [1]:
import pandas as pd
import numpy as np

In [21]:
PATH_A = '/home/gordon_local/local_workplace/swsTask/driver_timesheet_rec/Boomgate.xlsx'
PATH_B = '/home/gordon_local/local_workplace/swsTask/driver_timesheet_rec/EmployeeID.xlsx'
PATH_C = '/home/gordon_local/local_workplace/swsTask/driver_timesheet_rec/Tanda.xlsx'

df = pd.read_excel(PATH_C, sheet_name=None,header=1)
df_keys = list(df.keys())
df[df_keys[-1]]

df_1 = pd.read_excel(PATH_B, sheet_name=None)
df_1_keys = list(df_1.keys())
clean_df_1 = df_1[df_1_keys[0]]
# a['Names'].str.contains('Mel').any():
clean_df_1[clean_df_1.Name.str.contains('Te')]

                         Name   Card ID
54               Te Ture, Tom      IR20
55  Ter Neuzen, Jeremy Daniel  SWTERJER

In [22]:
df[df_keys[-1]]

,Name,Start,End,Locations,Teams,Breaks,Length,Annual Leave,Base Hourly,Clerks - Base Hourly,Clerks - Casual Base,NOR1,NOR1.25,NOR1.3,OT1.5,OT1.6,OT2,OT2.1,Transport Allowance
0,Adonis Akl,01:51 PM,01:03 AM,Sydney Waste,Sydney Waste Team,24.0,10.800,NaN,NaN,NaN,NaN,NaN,3.150,NaN,NaN,2.00,NaN,5.650,NaN
1,Albertran Do,03:34 AM,02:10 PM,Swift Waste & Recycling,Swift Team,24.0,10.200,NaN,NaN,NaN,NaN,8.000,NaN,NaN,2.000,NaN,0.200,NaN,1.0
2,Benjamin John Edwards,01:56 AM,12:36 PM,Sydney Waste,Sydney Waste Team,24.0,10.267,NaN,NaN,NaN,NaN,8.000,NaN,NaN,2.000,NaN,0.267,NaN,1.0
3,Christopher Andrew Bailey,01:42 AM,11:01 AM,Sydney Waste,Sydney Waste Team,24.0,8.917,NaN,NaN,NaN,NaN,NaN,6.617,NaN,NaN,2.00,NaN,0.300,1.0
4,Claudine Nitro,08:00 AM,05:00 PM,Sydney Waste,Sydney Waste Team,24.0,8.600,NaN,NaN,8.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,David Michael Right,03:21 AM,09:37 AM,Sydney Waste,Sydney Waste Team,24.0,5.866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.866,1.0
6,Efalata Fevaleaki,07:46 AM,04:04 PM,Sydney Waste,Sydney Waste Team,24.0,7.900,NaN,NaN,NaN,NaN,7.900,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Fekefekaiatu Tupou,12:48 AM,11:22 AM,Sydney Waste,Sydney Waste Team,24.0,10.166,NaN,NaN,NaN,NaN,6.966,NaN,NaN,2.000,NaN,1.200,NaN,NaN
8,Gabriella Hewitt,01:48 AM,01:15 PM,Sydney Waste,Sydney Waste Team,24.0,11.050,NaN,NaN,NaN,NaN,8.000,NaN,NaN,2.000,NaN,1.050,NaN,1.0
9,Garry Roberts,02:12 AM,12:04 PM,Sydney Waste,Sydney Waste Team,24.0,9.466,NaN,NaN,NaN,NaN,7.666,NaN,NaN,1.800,NaN,NaN,NaN,1.0
10,Geraldine Gorzalka,08:00 AM,04:00 PM,Sydney Waste,Sydney Waste Team,24.0,7.600,NaN,NaN,7.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,John Alexander Justice,03:49 AM,12:28 PM,Sydney Waste,Sydney Waste Team,24.0,8.250,NaN,NaN,NaN,NaN,NaN,8.000,NaN,NaN,0.25,NaN,NaN,1.0
12,John Hafa Tubuaitua,02:51 AM,11:32 AM,Sydney Waste,Sydney Waste Team,24.0,8.283,NaN,NaN,NaN,NaN,NaN,7.133,NaN,NaN,1.15,NaN,NaN,1.0
13,Judith Punzalan,09:00 AM,05:00 PM,Sydney Waste,Sydney Waste Team,24.0,7.600,NaN,NaN,7.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Julian Lee Taurima,11:57 PM,09:19 AM,Sydney Waste,Sydney Waste Team,24.0,8.966,NaN,NaN,NaN,NaN,NaN,4.916,NaN,NaN,2.00,NaN,2.050,NaN
15,Keven John Sheather,04:38 PM,03:29 AM,Sydney Waste,Sydney Waste Team,24.0,10.450,NaN,NaN,NaN,NaN,NaN,0.367,NaN,NaN,2.00,NaN,8.083,NaN
16,Leigh Scott Burgess,03:47 AM,12:43 PM,Sydney Waste,Sydney Waste Team,24.0,8.534,NaN,NaN,NaN,NaN,8.000,NaN,NaN,0.534,NaN,NaN,NaN,1.0
17,Lou Moylan,01:37 AM,10:55 AM,Sydney Waste,Sydney Waste Team,24.0,8.900,NaN,NaN,NaN,NaN,6.517,NaN,NaN,2.000,NaN,0.383,NaN,1.0
18,Luke Boland,10:54 PM,04:34 AM,Isse Recycling,ISSE Team,24.0,5.267,NaN,NaN,NaN,NaN,NaN,NaN,0.567,2.000,NaN,2.700,NaN,NaN
19,Ma Vaneza Ong,NaN,NaN,Sydney Waste,Sydney Waste Team,NaN,7.600,7.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Ming Yiu Tang,09:00 AM,05:00 PM,Sydney Waste,Sydney Waste Team,24.0,7.600,NaN,7.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Neil John White,01:09 AM,11:34 AM,Sydney Waste,Sydney Waste Team,24.0,10.017,NaN,NaN,NaN,NaN,7.167,NaN,NaN,2.000,NaN,0.850,NaN,1.0
22,Paige Sheree Sullivan,08:00 AM,05:00 PM,Sydney Waste,Sydney Waste Team,24.0,8.600,NaN,NaN,8.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Phillip Liu,01:33 AM,01:52 PM,Sydney Waste,Sydney Waste Team,24.0,11.917,NaN,NaN,NaN,NaN,8.000,NaN,NaN,2.000,NaN,1.917,NaN,1.0
24,Qi (Ricky) Li,05:38 AM,11:35 AM,Sydney Waste,Sydney Waste Team,24.0,5.550,NaN,NaN,NaN,NaN,NaN,5.550,NaN,NaN,NaN,NaN,NaN,NaN
25,Robert James Ward,01:51 AM,11:28 AM,Sydney Waste,Sydney Waste Team,24.0,9.217,NaN,NaN,NaN,NaN,7.067,NaN,NaN,2.000,NaN,0.150,NaN,1.0
26,Tait Brendan Mitchell,02:47 AM,01:08 PM,Sydney Waste,Sydney Waste Team,24.0,9.950,NaN,NaN,NaN,NaN,NaN,8.000,NaN,NaN,1.95,NaN,NaN,1.0
27,Tom Te Ture,06:11 PM,03:55 AM,Isse Recycling,ISSE Team,24.0,9.334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000,NaN,7.334,NaN,NaN
28,Vanezza Medina Gavarra,09:00 AM,05:00 PM,Sydney Waste,Sydney Waste Team,24.0,7.600,NaN,NaN,NaN,7.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Victor Singh,12:54 AM,12:13 PM,Sydney Waste,Sydney Waste Team,24.0,10.917,NaN,NaN,NaN,NaN,7.817,NaN,NaN,2.000,NaN,1.100,NaN,NaN
30,Viet Hong Phuoc Dinh,05:17 PM,12:02 AM,Swift Waste & Recycling,Swift Team,24.0,6.349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000,NaN,4.349,NaN,NaN
31,Xiaohua Fei,07:53 AM,04:03 PM,Sydney Waste,Sydney Waste Team,24.0,7.766,NaN,7.766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Zaheer Attaul Islam Dean,03:11 AM,12:00 PM,Isse Recycling,ISSE Team,24.0,8.417,NaN,NaN,NaN,NaN,7.600,NaN,NaN,0.817,NaN,NaN,NaN,1.0