In [1]:
import pandas as pd
import numpy as np

In [19]:
PATH_A = '/home/gordon_local/local_workplace/swsTask/driver_timesheet_rec/Boomgate.xlsx'
PATH_B = '/home/gordon_local/local_workplace/swsTask/driver_timesheet_rec/EmployeeID.xlsx'
PATH_C = '/home/gordon_local/local_workplace/swsTask/driver_timesheet_rec/Tanda.xlsx'

df = pd.read_excel(PATH_C, sheet_name=None)
df_keys = list(df.keys())
df[df_keys[-1]]

df_1 = pd.read_excel(PATH_B, sheet_name=None)
df_1_keys = list(df_1.keys())
clean_df_1 = df_1[df_1_keys[0]]
# a['Names'].str.contains('Mel').any():
clean_df_1[clean_df_1.Name.str.contains('Te')]

                         Name   Card ID
54               Te Ture, Tom      IR20
55  Ter Neuzen, Jeremy Daniel  SWTERJER