In [1]:
import pandas as pd
import numpy as np

In [28]:
PATH_A = '/home/gordon_local/local_workplace/swsTask/driver_timesheet_rec/Boomgate.xlsx'
df = pd.read_excel(PATH_A, sheet_name=None, header=1)
sName = list(df.keys())
clean_df = df[sName[0]]
clean_df[clean_df.Department.str.startswith('Operations')]

clean_df['Employee'] = clean_df.Employee.str.lower()

clean_df[clean_df.Employee.str.contains('je')]
clean_df['Time In'] = clean_df['Time In'].str.lower()
clean_df[clean_df['Time In'].str.startswith('exit')]

,#,Employee,Location,Department,Time In,Time Out,Duration,Rate,Total
28,29,parbeen chand 34,SYDNEYWASTE,Workshop,exit event with no entry at 13/04/2021 15:31:08,NaN,NaN,NaN,NaN
29,30,parbeen chand 34,SYDNEYWASTE,Workshop,exit event with no entry at 13/04/2021 15:18:46,NaN,NaN,NaN,NaN
30,31,adonis akl 38,SYDNEYWASTE,Operations SW,exit event with no entry at 13/04/2021 13:58:04,NaN,NaN,NaN,NaN
31,32,tony perino 29,SYDNEYWASTE,Workshop,exit event with no entry at 13/04/2021 13:42:06,NaN,NaN,NaN,NaN
34,35,walden alan 0006,SYDNEYWASTE,Operations SW,exit event with no entry at 13/04/2021 10:22:08,NaN,NaN,NaN,NaN
49,50,parbeen chand 34,SYDNEYWASTE,Workshop,exit event with no entry at 12/04/2021 16:59:27,NaN,NaN,NaN,NaN
50,51,justin james buckley 33,SYDNEYWASTE,Workshop,exit event with no entry at 12/04/2021 16:56:32,NaN,NaN,NaN,NaN
53,54,tony perino 29,SYDNEYWASTE,Workshop,exit event with no entry at 12/04/2021 14:36:38,NaN,NaN,NaN,NaN
74,75,walden alan 0006,SYDNEYWASTE,Operations SW,exit event with no entry at 12/04/2021 10:47:19,NaN,NaN,NaN,NaN
78,79,tony perino 29,SYDNEYWASTE,Workshop,exit event with no entry at 12/04/2021 09:45:37,NaN,NaN,NaN,NaN
79,80,walden alan 0006,SYDNEYWASTE,Operations SW,exit event with no entry at 12/04/2021 09:32:35,NaN,NaN,NaN,NaN
88,89,ruhr johnann otto 0002,SYDNEYWASTE,Operations ISSE,exit event with no entry at 12/04/2021 01:30:55,NaN,NaN,NaN,NaN
89,90,locke brad 0008,SYDNEYWASTE,Operations SW,exit event with no entry at 12/04/2021 01:26:57,NaN,NaN,NaN,NaN
97,98,effalatta 30,SYDNEYWASTE,Workshop,exit event with no entry at 10/04/2021 12:20:55,NaN,NaN,NaN,NaN
114,115,ward robert james 0027,SYDNEYWASTE,Operations SW,exit event with no entry at 10/04/2021 03:51:34,NaN,NaN,NaN,NaN
120,121,walden alan 0006,SYDNEYWASTE,Operations SW,exit event with no entry at 09/04/2021 16:18:59,NaN,NaN,NaN,NaN
121,122,effalatta 30,SYDNEYWASTE,Workshop,exit event with no entry at 09/04/2021 16:12:06,NaN,NaN,NaN,NaN
158,159,david medina 0007,SYDNEYWASTE,Operations SW,exit event with no entry at 09/04/2021 02:44:10,NaN,NaN,NaN,NaN
160,161,liu phillip 0017,SYDNEYWASTE,Operations SW,exit event with no entry at 09/04/2021 01:48:35,NaN,NaN,NaN,NaN
161,162,ruhr johnann otto 0002,SYDNEYWASTE,Operations ISSE,exit event with no entry at 09/04/2021 01:18:53,NaN,NaN,NaN,NaN
162,163,"david michael right 127,32191",SYDNEYWASTE,Operations SW,exit event with no entry at 09/04/2021 01:04:08,NaN,NaN,NaN,NaN
163,164,white neil john 0020,SYDNEYWASTE,Operations SW,exit event with no entry at 09/04/2021 01:01:50,NaN,NaN,NaN,NaN
166,167,adonis akl 38,SYDNEYWASTE,Operations SW,exit event with no entry at 08/04/2021 13:44:30,NaN,NaN,NaN,NaN
193,194,li qi (ricky) 0025,SYDNEYWASTE,Operations SW,exit event with no entry at 08/04/2021 05:54:04,NaN,NaN,NaN,NaN
198,199,tait mitchell 37,SYDNEYWASTE,Operations SW,exit event with no entry at 08/04/2021 02:30:57,NaN,NaN,NaN,NaN
200,201,tupou fekefekaiatu 0011,SYDNEYWASTE,Operations SW,exit event with no entry at 08/04/2021 01:07:59,NaN,NaN,NaN,NaN
202,203,walden alan 0006,SYDNEYWASTE,Operations SW,exit event with no entry at 07/04/2021 17:50:11,NaN,NaN,NaN,NaN
204,205,parbeen chand 34,SYDNEYWASTE,Workshop,exit event with no entry at 07/04/2021 15:13:12,NaN,NaN,NaN,NaN
206,207,adonis akl 38,SYDNEYWASTE,Operations SW,exit event with no entry at 07/04/2021 13:59:54,NaN,NaN,NaN,NaN
211,212,parbeen chand 34,SYDNEYWASTE,Workshop,exit event with no entry at 07/04/2021 13:05:50,NaN,NaN,NaN,NaN
224,225,parbeen chand 34,SYDNEYWASTE,Workshop,exit event with no entry at 07/04/2021 11:23:43,NaN,NaN,NaN,NaN
234,235,parbeen chand 34,SYDNEYWASTE,Workshop,exit event with no entry at 07/04/2021 09:48:05,NaN,NaN,NaN,NaN
243,244,li qi (ricky) 0025,SYDNEYWASTE,Operations SW,exit event with no entry at 07/04/2021 05:46:44,NaN,NaN,NaN,NaN
244,245,dean zaheer attaul islam 0013,SYDNEYWASTE,Operations ISSE,exit event with no entry at 07/04/2021 03:43:14,NaN,NaN,NaN,NaN